@import url("https://fonts.googleapis.com/css2?family=Abel&family=Fira+Code:wght@400;500&family=Iceberg&family=Inter:wght@400;500&family=Kaushan+Script&family=Lobster&family=Merienda&family=Montserrat&family=Open+Sans&display=swap");
  @tailwind base;
@tailwind components;
@tailwind utilities;

/* button Hover Transition */
.button_hover_transition {
  transition: all 0.7s ease-in-out;
}

.hover-animation {
  transition: all 0.7s ease-in-out;
}

.button {
  background-color: #dc2626;
  color: #f3e9e9;
  border-radius: 0.75rem;
  padding: 0.5rem 2rem;
  border: 2px solid #f3e9e9;
}

.button:hover {
  color: #dc2626;
  border-color: #dc2626;
  background-color: #f3e9e9;
  @apply hover-animation;
}